{% extends 'base.html' %}
{% load dueDateDiff %}
{% block content %}
<h3>完了タスクリスト</h3>
{% if compTasks %}
<form method="get">
  <select name="category">
    <option value="created_at">作成日</option>
    <option value="title">タスク名</option>
    <option value="progress">進捗</option>
    <option value="due_date">期限</option>
  </select>
  <select name="sort_type">
    <option value="desc">降順</option>
    <option value="asc">昇順</option>
  </select>
  <button type="submit" class="btn btn-success">並び替え</button>
</form>
  <table class="table">
    <thead>
      <tr>
        <th style="width: calc(100% / 8);">タスク名</th>
        <th style="width: calc(100% / 10);">進捗</th>
        <th style="width: calc(100% / 10);">期限</th>
      </tr>
    </thead>
    <tbody>
      {% for t in compTasks %}
        <tr>
          <td><a href="{% url 'tasks:taskDetail' t.id %}">{{ t.title }}</a></td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ t.progress }}%;" aria-valuenow={{t.progress}} aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td id="due_date">{{ t.due_date }}：{{ t.due_date | due_date_diff }}{% if t.progress == 100 %}<i class="material-icons">check_circle</i>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>登録済みのタスクはありません</p>
  <p>タスクの登録は<a href="{% url 'tasks:taskCreate' %}">こちら</a>から</p>
{% endif %}
{% endblock %}
